body {
  font-family: Arial, Helvetica, sans-serif;
  background: #272728;
}

.todo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 71px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #FAFAFA;
}

.count-title {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #F9B53A;
  text-align: center;
}

.todo-div {
  text-align: center;
}

.todo-input {
  background: #1F1F21;
  border: 1px solid #A0A0A1;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  padding: 15px 200px;
  color: #fff;
}

.todo-list {
  text-align: center;
  list-style-type: none;
}

.todo-item {
  width: 400px;
  border: 1px solid #F9B53A;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 5px 20px;
  margin-left: auto;
  margin-right: auto;
  color: #FAFAFA;
}

.todo-input-todo {
  margin-right: 120px;
}

.todo-button {
  margin-left: 120px;
  cursor: pointer;
  background-color: #e4e4e7;
  color: blue;
  border: none;
  transition: 0.5px;
}

.todo-button:hover {
  background-color: rgb(255, 0, 0);
}

.select-todo {
  border: none;
  background-color: gold;
  color: red;
  margin-top: 20px;
  padding: 7px 10px;
  margin-left: 20px;
}

.todo-text {
  width: 1100px;
  border: 1px solid blue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transform: translateY(-50px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: -25px;
  padding: 10px;
}